* {
    margin: 0;
    padding: 0;
    font-family: Calibri;
}

.main {
    padding-top: 100px;
    text-align: center;
}

.area {

    color: rgb(151, 38, 173);
}

#answer {
    padding-top: 10px;
}

label {
    display: block;
    padding: 10px;
    text-align: center;
}

input[type="text"] {
    height: 30px;
    width: 200px;
}

input[type="button"] {
    height: 40px;
    width: 90px;
    color: rgb(0, 0, 0);
    background-color: rgb(71, 121, 187);

}